.imgTile
{
    float: left;
    height: 270px;
    text-align: center;
    width: 430px;
}

.imgTile img
{
    height: 125px;
    width: 200px;
}

#bigPhoto
{
    padding: 20px;
}

.paginationLink
{
    float: left;
    padding: 5px;
    width: 250px;
}

.paginationLink:hover
{
    text-decoration: underline;
}

.galleryButton
{
    background-color: #00aa66;
    border: solid #004400 1px;
    display: block;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px;
    width: 250px;
}

.noResults
{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}